body {
    padding: 25px;
    background-color: #1a0b4f;
}
.title {
    color: #c52d2d;
}
p {
    font-family: Times New Roman;
    color: #ffffff;
}
.big {
    color: #c52d2d;
    text-align: center;
    text-size-adjust: 120px;
}
.links-header {
    width: 100%;
    height: min-content;
    background-color: #331b8a;
    padding: 8px;
}

.links-header a:any-link {
    color: white;
    text-decoration: none;
}

.links-header a:hover {
  text-decoration: underline;
}